VITE_BACKEND_URL=
VITE_BUNDLER_URL=
VITE_CDP_CLIENT_API_KEY=
VITE_COINGECKO_API_KEY=
VITE_ENVIRONMENT=
VITE_FLAUNCH_CA=
VITE_HUDDLE_PROJECT_ID=
VITE_HUDDLE_PROJECT_KEY=
VITE_MORALIS_API_KEY=
VITE_PAYMASTER_API_KEY=
VITE_PAYMASTER_URL=
VITE_PINATA_JWT=
VITE_PRIVY_APP_ID=
VITE_PRIVY_CLIENT_ID=