ALLOWED_ORIGINS=
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_BUCKET=
AWS_SECRET_ACCESS_KEY=
CLIENT_URL=
DATABASE_URL=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USER=
ENVIRONMENT=
HUDDLE_API_KEY=
HUDDLE_PROJECT_ID=
JPG_DEFAULT_IMAGE=
MORALIS_API_KEY=
PINATA_GATEWAY=
PINATA_JWT=
PORT=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_KEY=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_URI=
REDIS_USERNAME=
VITE_ALCHEMY_RPC=
VITE_BUNDLER_URL=
VITE_DEFAULT_IMAGE=
VITE_ENVIRONMENT=
VITE_HUDDLE_PROJECT_ID=
VITE_HUDDLE_PROJECT_KEY=
VITE_PAYMASTER_URL=
VITE_PRIVY_APP_ID=
VITE_PRIVY_CLIENT_ID=
VITE_SERVER_URL=
VITE_ZERODEV_RPC=